<div class="navbar-fixed">
  <nav>
    <div class="nav-wrapper">
      <ul class="hide-on-med-and-down" >
        <li><a>Logo</a></li>
        <li><p>Attributes : {{isAdmin}} {{isEtudiant}}</p></li>
      </ul>
      <div *ngIf="isAdmin; else headerEtu">
         <ul class="right hide-on-med-and-down" >
          <li><a class="waves-effect waves-light btn" (click)="redirect('/')">Index</a></li>
          <li><a class="waves-effect waves-light btn" (click)="signout()">Sign Out</a></li>
        </ul>
      </div>
      <ng-template #headerEtu>
        <div *ngIf="isEtudiant; else headerSignout">
          <ul class="right hide-on-med-and-down" >
            <li><a class="waves-effect waves-light btn" (click)="redirect('/')">Index</a></li>
            <li><a class="waves-effect waves-light btn" (click)="signout()">Sign Out</a></li>
          </ul>
        </div>


        <ng-template #headerSignout>
          <ul class="right hide-on-med-and-down" >
            <li><a class="waves-effect waves-light btn" (click)="redirect('/signin')">Sign in</a></li>
            <li><a class="waves-effect waves-light btn" (click)="redirect('/register')">Register</a></li>
            <li><a class="waves-effect waves-light btn" (click)="signout()">Sign Out</a></li>
          </ul>
        </ng-template>
      </ng-template>
      
    </div>
    

  </nav>
</div>
      