<form [formGroup]="signinForm" (ngSubmit)="onSubmit()">
  
  <div class="row justify-content-center">
    <div class="form-group col-md-3">

      <div class="justify-content-center">
        <label for=loginInput>Numéro d'etudiant :</label>
        <input class="form-control" type="text" formControlName="login" id="loginInput" required>
        <small id="loginHelp" class="form-text text-muted">Un numéro d'étudiant est composé d'une lettre suivi de 8 chiffres.</small>
      </div>
      <div *ngIf="login.invalid && (login.dirty || login.touched)" >
        <div *ngIf="login.errors.required" class="alert alert-danger">
          Numéro d'étudiant requis.
        </div>
        <div *ngIf="login.errors.pattern && login.touched" class="alert alert-danger">
            Un numéro d'étudiant est composé d'une lettre suivi de 8 chiffres.
        </div>
      </div>
    </div>
  </div>

    <div class="row justify-content-center">
      <div class="form-group col-md-3">
        <div class="justify-content-center">
          <label for="passwordInput"> Mot de passe :</label>
          <input class="form-control" type="password" formControlName="password" id="passwordInput" required>
        </div>

        <div *ngIf="password.invalid && (password.dirty || password.touched)">
            <div *ngIf="password.errors.required" class="alert alert-danger">
              Mot de passe requis.
            </div>
            <div *ngIf="(password.errors.minlength || password.errors.maxlength) && password.touched" class="alert alert-danger">
              Un mot de passe doit :
              <ul>
                <li>faire entre 4 et 16 caractères.</li>

                </ul>
            </div>
        </div>
      </div>
    </div>


    <div class="row justify-content-center">
      <button type="submit" class="btn btn-outline-primary" [disabled]="!signinForm.valid">Se connecter</button>
    </div>
  </form>

  <div class="alert-container mt-3">
    <ngb-alert  *ngIf="wrongFormAlertOpened" type="danger" (close)="wrongFormAlertOpened = false">Code étudiant/mot de passe incorrect(s).</ngb-alert>
  </div>
  