<form [formGroup]="registrationForm" >
                  <div class="form-group">
                    <div class="row">
                      
                      <div class="col-md-2">
                        <label for="FormControlNom" style="color: lightseagreen;font-size: medium;" ><b>Nom*:</b></label>
                      </div>
                      <div class="col-md-6">
                        <input type="text" formControlName="Nom" placeholder="Nom" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
                      </div>

                      <div class="col-md-4">
                          
                        <span style="font-weight: bold;color: red;" *ngIf="!registrationForm.controls['nom'].valid&&registrationForm.controls['nom'].dirty">
                          <span *ngIf="registrationForm.controls.nom.errors.required">Le nom est requis.</span>
                          <span *ngIf="registrationForm.controls.nom.errors.minlength">min 3 caracteres</span>
                          <span *ngIf="registrationForm.controls.nom.errors.maxlength">max 50 caracteres.</span>
                        </span>
                       
                      </div>
                    </div>
                    <br>

                    <div class="row">
                      
                      <div class="col-md-2">
                        <label for="FormControlNom" style="color: lightseagreen;font-size: medium;" ><b>Prenom*:</b></label>
                      </div>
                      <div class="col-md-6">
                        <input type="text" formControlName="Prenom" placeholder="Nom" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
                      </div>

                      <div class="col-md-4">
                          
                        <span style="font-weight: bold;color: red;" *ngIf="!registrationForm.controls['prenom'].valid&&registrationForm.controls['prenom'].dirty">
                          <span *ngIf="registrationForm.controls.prenom.errors.required">Le prenom est requis.</span>
                          <span *ngIf="registrationForm.controls.prenom.errors.minlength">min 3 caracteres</span>
                          <span *ngIf="registrationForm.controls.prenom.errors.maxlength">max 50 caracteres.</span>
                        </span>
                       
                      </div>
                    </div>
                    <br>

                    <div class="row">
                      <div class="col-md-2">
                        <label for="FormControlEmail" style="color: lightseagreen;font-size: medium;" ><b>Email*:</b></label>
                      </div>
                      <div class="col-md-6">
                        <input type="email" formControlName="Email" placeholder="Email" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
                      </div>
                      <div class="col-md-4">
                          <span style="font-weight: bold;color: red;" *ngIf="!registrationForm.controls['email'].valid&&registrationForm.controls['email'].dirty">
                              <span *ngIf="registrationForm.controls.email.errors.required">Email est requis.</span>
                              <span *ngIf="registrationForm.controls.email.errors.email">Email est incorrect.</span>
                            </span>
                      </div>
                    </div>
                    <br>

                    <div class="row">
                      <div class="col-md-2">
                        <label for="FormControlPassword" style="color: lightseagreen;font-size: medium;" ><b>Password*:</b></label>
                      </div>
                      <div class="col-md-6">
                        <input type="password" formControlName="Password" placeholder="Password" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
                      </div>
                      <div class="col-md-4">
                          <span style="font-weight: bold;color: red;"  *ngIf="!registrationForm.controls['password'].valid&&registrationForm.controls['password'].dirty">
                              <span *ngIf="registrationForm.controls.password.errors.required">Password est requis.</span>
                              <span *ngIf="registrationForm.controls.password.errors.minlength">min 3 caracteres.</span>
                              <span *ngIf="registrationForm.controls.password.errors.maxlength">max 50 caracteres.</span>
                            </span>
                      </div>
                    </div>
                    <br>

                    <div class="row">
                      
                      <div class="col-md-2">
                        <label for="FormControlCodeetu" style="color: lightseagreen;font-size: medium;" ><b>Code etudiant*:</b></label>
                      </div>
                      <div class="col-md-6">
                        <input type="text" formControlName="Codeetu" placeholder="Code etudiant" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
                      </div>

                      <div class="col-md-4">
                          
                        <span style="font-weight: bold;color: red;" *ngIf="!registrationForm.controls['codeetu'].valid&&registrationForm.controls['codeetu'].dirty">
                          <span *ngIf="registrationForm.controls.codeetu.errors.required">Le code etudiant est requis.</span>
                          <span *ngIf="registrationForm.controls.codeetu.errors.minlength">min 3 caracteres</span>
                          <span *ngIf="registrationForm.controls.codeetu.errors.maxlength">max 50 caracteres.</span>
                        </span>
                       
                      </div>
                    </div>
                    <br>
                    
                    <div class="row">
                      <div class="col-md-2">
                        <label for="FormControlTelephone" style="color: lightseagreen;font-size: medium;" ><b>Telephone*:</b></label>
                      </div>
                      <div class="col-md-6">
                        <input type="text" formControlName="Telephone" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
                      </div>
                      <div class="col-md-4">
                          <span style="font-weight: bold;color: red;" *ngIf="!registrationForm.controls['telephone'].valid&&registrationForm.controls['telephone'].dirty">
                              <span *ngIf="registrationForm.controls.telephone.errors.required">Telephone requis.</span>
                            </span>
                      </div>
                    </div>
                    <br>

                    <div class="row">
                      <div class="col-md-2">
                        <label for="FormControlFiliere" style="color: lightseagreen;font-size: medium;" ><b>Filiere*:</b></label>
                      </div>
                      <div class="col-md-6">
                        <input type="text" formControlName="Filiere" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
                      </div>
                      <div class="col-md-4">
                          <span style="font-weight: bold;color: red;" *ngIf="!registrationForm.controls['filiere'].valid&&registrationForm.controls['filiere'].dirty">
                              <span *ngIf="registrationForm.controls.filiere.errors.required">Filiere requise.</span>
                            </span>
                      </div>
                    </div>
                    <br>
                    
                    
                  </div>
                  <button type="button" style="margin-left: 39%;" [disabled]="!registrationForm.valid" class="btn btn-outline-success" (click)="OnRegister(registrationForm.value)"><b>Enregisterer</b></button>
</form>
